config PKG_USING_ANYKA
    bool "Enable anyka anyblue1090 real-time speech enhancement processing"
    default n

if PKG_USING_ANYKA
    choice
        prompt "select mic num for bt voice"
        default ANYKA_ONE_MIC
        config ANYKA_ONE_MIC
            bool "one mic"
        config ANYKA_TWO_MIC
            bool "two mics"
    endchoice
endif

config ANYKA_RUN_IN_ACPU
    bool "anyka lib run in acpu"
        depends on PKG_USING_ANYKA
    default n 

