config FPGA
    bool
    default y

config TOUCH_IRQ_PIN
    int
    default 33

config LCD_BACKLIGHT_CONTROL_PIN
    int
    default 70
    
config CAMERA_I2C_DEVICE_NAME
    string
    default "i2c2"

config EPD_TPS_I2C_DEVICE_NAME
    string
    default "i2c1"
    
menu "SF32LB57-SPI-HDK Configuration"

config BSP_USING_CAMERA1
    bool "Camera 1"
    select BSP_USING_GC032A
    default n

endmenu    