config SOC_SF32LB573UB7N6
    bool
    select SOC_PACKAGE_QFN68
config SOC_SF32LB573UB776
    bool
    select SOC_PACKAGE_QFN68
config SOC_SF32LB575UCNN6
    bool
    select SOC_PACKAGE_QFN68
config SOC_SF32LB575UC7N6
    bool
    select SOC_PACKAGE_QFN68
config SOC_SF32LB575YBBN6
    bool
    select SOC_PACKAGE_QFN80
config SOC_SF32LB577UDNN6
    bool
    select SOC_PACKAGE_QFN68
config SOC_SF32LB577VD776
    bool
    select SOC_PACKAGE_BGA112
config SOC_SF32LB579V6EN6
    bool
    select SOC_PACKAGE_BGA112
config SOC_SF32LB57GYD7N6
    bool
    select SOC_PACKAGE_QFN80
config SOC_SF32LB57BUN3N6
    bool
    select SOC_PACKAGE_QFN68

rsource "Kconfig_soc.sf32lb57x.common"

