menuconfig USING_CORE_DUMP
    bool "Use Core Dump"
    default n   

if USING_CORE_DUMP
    config USING_CORE_DUMP_EXT
    bool "Enable extended core dump function"
    help
       Extended core dump function that can be implemented by user
    
    default n
endif # USING_CORE_DUMP