from building import *

cwd = GetCurrentDir()

src = Glob('./*.c')
path =  [cwd,
         os.path.join(cwd, '../include')]

group = DefineGroup('Drivers', src, depend = ['{{ board_symbol }}'], CPPPATH = path)

if GetDepend('{{ board_symbol }}'):
    group = group + SConscript('{{ base_sconscript_path }}', variant_dir='base', duplicate=0)

Return('group')
