menu "Key"
    menuconfig BSP_USING_KEY1
        bool "Use key1"
        default n
    if BSP_USING_KEY1  
        config BSP_KEY1_PIN
            int "KEY1 pin number"
            default 99
        config BSP_KEY1_ACTIVE_HIGH
            bool "Level is high if key is pressed"
            default n
    endif 
    menuconfig BSP_USING_KEY2
        bool "Use key2"
        default n
    if BSP_USING_KEY2 
        config BSP_KEY2_PIN
            int "KEY2 pin number"
            default 96
        config BSP_KEY2_ACTIVE_HIGH
            bool "Level is high if key is pressed"
            default n            
    endif    
endmenu
