menuconfig BSP_USING_DFU
    bool "DFU Support"
    depends on BF0_HCPU
    default n    
    help
        DFU (Device Firmware Update) Support
if BSP_USING_DFU
    config BSP_USING_DFU_COMPRESS
        bool "Device firmware using compress"
        default n
    config DFU_DECOMPRESS_USING_SOFTWARE
        bool "Use software function to decompress zlib ota code"
        depends on BSP_USING_DFU_COMPRESS
        default n
    config DFU_USING_DOWNLOAD_BACKUP
        bool "Backup for ota download content"
        default n
        if DFU_USING_DOWNLOAD_BACKUP
            config DFU_USING_BACK_UP_FLASH
            bool "Store backup content on flash"
            depends on BSP_USING_DFU_COMPRESS
            default n
        endif
        if DFU_USING_DOWNLOAD_BACKUP
            config DFU_USING_BACK_UP_PSRAM
            bool "Store backup content on psram"
            depends on BSP_USING_DFU_COMPRESS
            default n
        endif
    config OTA_SECTION_CHANGE
        bool "Support change image download address"
        default n
    config OTA_ERROR_HANDLE_IN_USR
        bool "OTA error handle in user bin"
        default n
    config OTA_USING_SOL_FUNC
        bool "OTA will use solution's version check and power off function"
        default n
    config OTA_55X
        bool "NOR flash OTA"
        default n
        if OTA_55X
            config OTA_NOR_OTA_MANAGER_LITE
            bool "support lite or none ota manager"
            default n
        endif
    config OTA_56X_NAND
        bool "NAND flash OTA"
        default n
        if OTA_56X_NAND
            config OTA_NAND_ONLY
            bool "Support nand only board"
            default n
        endif
    config OTA_NOR_LCPU_ROM_PATCH_SIZE
        int "nor ota lcpu rom patch download size"
        depends on DFU_USING_BACK_UP_FLASH
        default 8192
    config DFU_LCPU_ROM_PATCH_COMPARE
        bool "skip update lcpu rom patch if compare result is the same"
        depends on DFU_USING_BACK_UP_FLASH
        default n
endif
