menu "WiFi"
menuconfig WIFI_USING_AIC8800MC
    bool  "AIC8800MC"
    default n
    if WIFI_USING_AIC8800MC
        config USING_AICXTEK_WIFI
            bool "Enable using aicxtek WIFI"
            default y
        if USING_AICXTEK_WIFI    

            config AIC_CFG_RDATA_MODE_EN
                bool "AIC_CFG_RDATA_MODE_EN"
                default n
            
            config AIC_CFG_VNET_MODE_EN
                bool "AIC_CFG_VNET_MODE_EN"
                default y
            choice
                prompt "hardware wifi interface type"
            
                config WIFI_INF_TYPE_SDIO
                    bool "SDIO interface sdio"
                config WIFI_INF_TYPE_SPI
                    bool "SDIO interface spi"    
                config WIFI_INF_TYPE_UART
                    bool "SDIO interface uart"     
            endchoice
            
        endif
    endif

menuconfig BSP_WIFI_SWT6621
    bool "SWT6621"
    default n
    if BSP_WIFI_SWT6621
        config WIFI_WAKEUP_OUT_PIN
            int "SWT6621 WAKEUP OUT pin number"
            default 2
        config WIFI_WAKEUP_IN_PIN
            int "SWT6621 WAKEUP IN pin number" 
            default 5
        config WIFI_POWER_PIN
            int "SWT6621 POWER pin number"
            default 53
        config SKW_BOOT_MODE_RAM
            bool "wifi firmware load mode ram"
            default y  
        if !SKW_BOOT_MODE_RAM           
            config WIFI_DRAM_PATH
                string "WIFI fwk dram path"
                default "wifi/boot/SWT6621S_DRAM_SDIO.bin"
            config WIFI_IRAM_PATH
                string "WIFI fwk Iram path"
                default "wifi/boot/SWT6621S_IRAM_SDIO.bin"
            config WIFI_CALIBRATION_PATH
                string "WIFI fwk Iram path"
                default "wifi/calibration/SWT6621S_SEEKWAVE_R00000.bin"
        endif
        config SKW_WIFI_DEBUG
            bool "wifi debug file enable"
            default n
        if SKW_WIFI_DEBUG
            config WIFI_DEBUG_PATH
                string "wifi debug file path"
                default "wifi/debug"
        endif
        config WIFI_SDIO_NUM
            int "SWT6621 SDIO port number, 0-SDHCI1; 1-SDHCI2; 2-SDIO"
            default 0
    endif
endmenu