menu "Select data service"      
    if BSP_USING_DATA_SVC
        config BSP_USING_HR_SVC
            bool "Enable HR Service"
            select SENSOR_USING_HR
            default n

        config BSP_USING_ACCE_SVC
            bool "Enable Accelerator Service"
            select ACC_USING_BMI270
            default n

        config BSP_USING_ALARM_MANAGER_SVC
            bool "Enable alarm manager Service"
            default n   
        if BSP_USING_ALARM_MANAGER_SVC
            config BSP_ALARM_MAX
                int "Max number of Alarm could set"
                default 8          
        endif
		
		config BSP_USING_WATCHSYS_SVC
            bool "Enable watch system Service"
            default n  
    endif        
endmenu
